*{
    box-sizing: border-box;
}
html{
    line-height: 1.15;
}
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.15;
    font-weight: 400;
    color: #6c757d;
    text-align: left;
    background-color: #ffff;
}
.about-img{
  margin-left: -100px;
  right: -100px;
}
.btn{
    padding: 10px 25px;
    border-radius: 100px;
}
.btn-white{
    background-color: #ffffff;
    border: 2px solid #ffffff;
}
.btn-blue{
    border: 2.4px solid #ffffff;
    color: #ffffff;
}
.my-text{
    margin-top: 150px;
}
/* .typed-cursor{
    font-size: 45px;
    color: #ffffff;
} */
.position-absolute{
    font-weight: 400;
}

a{
    color: #0bceaf;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color:#078571;
    
}

.navbar-light .navbar-nav .nav-link{
    padding: 25px 10px;
    color: #343a40;
    font-weight: 500;
    outline: none;
}
.blue{
    background-color: blue;
    color: antiquewhite;
}

.blue:hover{
    background-color: antiquewhite;
    color: blue;
    border-radius: 2px solid blue;
}
.display-1{
    font-size: 100px;
    font-weight: 800;
}
.position-absolute{
    font-size: 35px;
    font-weight: 700;
}
.ex-me{
    margin-top: 35px;
}
/* ************Service*************** */
.service-h4{
    padding-bottom: 30px;
}
.service-icon{
    padding-top: 15px;
   width: 60px;
   height: 60px;
   display: flex; 
   align-items: center;
   justify-content: center;
   border-radius: 60px;
}
.service-box{
   box-shadow: 0px 1px 7px rgba(0,0,0,0.1); 
   margin-left: 20px;
   padding: 15px;
   padding-left: 30px;
   padding-right: 30px;
}
.service-box:hover{
box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.70);
}

.portfolio-item .portfolio-btn{
    position: absolute;
    width: 0;
    height: 0;
    top: 50px;
    left: 50px;
    border-radius: 4px;
    opacity: 0;
    transition: 0.5s;
}
.portfolio-item:hover .portfolio-btn{
    opacity:1 ;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top:30px ;
    left: 30px;
}

.carousel-item{
    background-color: #eaecf0d0;
    border-radius: 20px;
    padding: 5px;
}

.carousel-control-next-icon:hover{
background-color: #0bceaf;
}
.carousel-control-prev-icon:hover{
    background-color: #0bceaf;
    }